.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:white;
  font-family: "Poppins", sans-serif;
}
.todo-content {
  background: #fff;
  padding: 40px 45px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 420px;
}
.todo-title {
  text-align: center;
  font-size: 29px;
  font-weight: 600;
  color: #333;
  margin-bottom: 25px;
}
.todo-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.todo-input {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
}
.todo-input:focus {
  border-color: #5c6bc0;
  box-shadow: 0 0 5px rgba(92, 107, 192, 0.4);
}
.date-time-wrapper {
  display: flex;
  gap: 10px;
}
.date-input,
.time-input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1.5px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
  outline: none;
}
.date-input:focus,
.time-input:focus {
  border-color: #5c6bc0;
  box-shadow: 0 0 5px rgba(92, 107, 192, 0.4);
}
span {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-left: 2px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.save-btn {
  background-color: #5c6bc0;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.save-btn:hover {
  background-color: #3f51b5;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3);
}
@media (max-width: 500px) {
  .todo-content {
    width: 95%;
    padding: 25px;
  }
  .todo-title {
    font-size: 20px;
  }
}
